/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #5c4152, #b76e79);

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Para mantener el gradiente fijo al hacer scroll */
}

/* Estilos para el header */
.header-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.header-title, .header-message {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
}

.header-title {
    top: 20%;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1.4), 0px 0px 2px rgba(255, 255, 255, 0.9);
}

.header-message {
    top: 50%;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7), 0px 0px 1px rgba(255, 255, 255, 0.2);
}


/* Estilos para el main */
.mainer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Estilos para el footer */
footer {
    padding: 20px;
    text-align: center;
}

/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainer button {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #b4585d, #d97f76);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 580px;
}

/* Estilo para los enlaces dentro del botón */
.mainer button a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Efecto hover para los botones */
.mainer button:hover {
    background: linear-gradient(135deg, #d97f76, #b4585d);
    transform: scale(1.025);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto active (al hacer clic) */
.mainer button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*
@media only screen and (max-width: 768px) {
    .mainerdos {
        width: 90%;
        height: auto;
    }
    .header-image {
        display: block !important;
        width: 100%;
        height: auto;
    }
    .header-title {
        font-size: 1.5rem;
    }
    .header-message {
        font-size: 1rem;
    }
    .mainer button {
        font-size: 0.9rem;
        padding: 12px 24px;
    }
}*/


